.vscode
.dart_tool
.idea
pubspec.lock
build
# Generated plugin/project files
/taskii/windows/flutter
/taskii/linux/flutter
/taskii/ios/flutter
/taskii/macos/Flutter
/taskii/build


# Annoying CMake cache files
build/CMakeCache.txt
build/CMakeFiles/cmake.check_cache
build/CMakeFiles/4.0.0/CMakeCXXCompiler.cmake
build/CMakeFiles/CMakeConfigureLog.yaml
build/CMakeFiles/4.0.0/CompilerIdCXX/CMakeCXXCompilerId.cpp
build/CMakeFiles/4.0.0/CompilerIdCXX/a.exe
build/CMakeFiles/4.0.0/CMakeSystem.cmake
build/CMakeFiles/4.0.0/CMakeRCCompiler.cmake
build/CMakeFiles/4.0.0/CMakeDetermineCompilerABI_CXX.bin
build/.cmake/api/v1/query/client-vscode/query.json
